{% extends "ProyectoWeb/base.html" %}

{% load static %}

{% block content %}

   <!-- Heading --> 
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWeb/img/pp.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Seguridad</span>
            <span class="section-heading-lower">La mejor zona de parqueo</span>
          </h2>
          <p class="mb-3">Protege tu carro de chirretes
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantiza tu Vehiculo</span>
              </h2>
              <p class="mb-0">Con más de 5 años de experiencia a nuestras espaldas, haciendo lo mejor por entregarles un buen servicio y atencion.</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    {% endblock %}

  